@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald-Medium"),
    url("../fonts/Oswald-Medium.ttf") format("ttf"),
    url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald-SemiBold"),
    url("../fonts/Oswald-SemiBold.ttf") format("ttf"),
    url("../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), local("Ubuntu-Light"),
    url("../fonts/Ubuntu-Light.ttf") format("ttf"),
    url("../fonts/Ubuntu-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), local("Ubuntu-Regular"),
    url("../fonts/Ubuntu-Regular.ttf") format("ttf"),
    url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), local("Ubuntu-Medium"),
    url("../fonts/Ubuntu-Medium.ttf") format("ttf"),
    url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
