:root {
  --accent: #3596ed;
  --stroke: #d3cbd9;
  --text-podpis: #858e8a;
  --text-zagolovochnyy: #2c332f;
  --text-nabornyy: #535755;
  --bg-svetlyy: #f2f2f3;
}
h1,
h2,
h3 {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}

html {
  font-family: "Oswald", "Ubuntu", sans-serif;
  background: var(--bg-svetlyy);
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
}

:target {
  scroll-margin-top: 120px; /* Отступ сверху */
}

.button {
  background: linear-gradient(90deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-position 0.5s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);
}

.button:hover {
  background-position: right center;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(102, 126, 234, 0.4);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  bottom: 60px;
  padding-top: 30px;
  z-index: 100;
  background-color: var(--bg-svetlyy);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3cbd9;
  padding-bottom: 30px;
}
.header__info {
  display: flex;
  gap: 14px;
}

.header__offer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-podpis);
  margin: 0px;
}

.header__phone {
  transition: all 0.3s;
}

.header__phone img {
  width: 30px;
  height: 30px;
}

.header__phone:hover {
  transform: scale(1.2);
}

.nav__list {
  display: flex;
  gap: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-podpis);
  margin: 0px;
}

.nav__item a {
  color: var(--text-zagolovochnyy);
  display: block;
  transition: all 0.3s;
}

.nav__item a:hover {
  transform: scale(1.05);
  color: var(--accent);
}

.header__nav-burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 15;
}

.header__nav-burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 5px;
  background-color: #2c332f;
}

.header__nav-burger span:nth-child(1) {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.header__nav-burger.clicked span:nth-child(2) {
  background-color: transparent;
}

.header__nav-burger span:nth-child(3) {
  transform: translateY(10px);
  transition: all 0.5s ease;
}

.header__nav-burger.clicked span:nth-child(1) {
  transform: rotate(45deg);
}
.header__nav-burger.clicked span:nth-child(3) {
  transform: rotate(-45deg);
}

/* секция hero */

.hero__container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
}

.hero__title-accent {
  color: var(--accent);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 513px;
  max-width: 490px;
}

.hero__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-nabornyy);
  max-width: 440px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.hero__button {
  margin-top: 140px;
  padding: 19px 32px;
  width: 270px;
  background-color: var(--accent);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
}

.hero__media {
  position: relative;
}

.hero__image-wrapper {
  max-height: 513px;
}

.hero__image-wrapper img {
  width: 100%;
}

.hero__media-button {
  position: absolute;
  display: flex;
  top: 40px;
  left: 270px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: var(--text-zagolovochnyy);
  padding: 22px;
  width: 120px;
  height: 60px;
  background: rgba(255, 255, 255, 0.441);
  transition: all 0.5s;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hero__media-button:hover {
  background: rgba(255, 255, 255, 0.921);
}

.hero::after {
  content: "";
  position: relative;
  bottom: 146px;
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 48px;
  background-image: url(../src/icon/hero-decor.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* секция тренеры */

.coach {
  margin-top: 120px;
}

.coach__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.coach__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
  margin-bottom: 40px;
}

.coach-card {
  border-radius: 20px;
  border: 1px solid var(--stroke);
}

.coach-card__image-wrapper img {
  border-radius: 20px;
}

.coach-card__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coach-card__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: var(--text-zagolovochnyy);
  margin-top: 8px;
  margin-bottom: 12px;
}

.coach-card__button {
  border: none;
  padding: 15px 20px;
  background-color: var(--accent);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* секция новости */

.programs__container {
  margin-top: 120px;
  font-family: "Ubuntu", sans-serif;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
  margin-bottom: 40px;
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.programs-card {
  border: 1px solid #d3cbd9;
  width: 284px;
  height: 320px;
  border-radius: 20px;
}

.programs-card__image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.programs-card__content {
  padding: 20px 10px;
}

.programs-card__date {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-podpis);
  margin-bottom: 8px;
}

.programs-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-zagolovochnyy);
  margin-top: 8px;
  margin-bottom: 12px;
}

.programs-card__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--accent);
  transition: all 0.5s;
  cursor: pointer;
}

.programs-card__link::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 9px;
  background-image: url(../src/icon/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}
/* секция gallery */
.gallery {
  font-family: "Oswald", sans-serif;
  margin-top: 140px;
}

.gallery__container {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
  margin-bottom: 40px;
}

.slider-container {
  display: flex;
  position: relative;
  min-width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: opacity 1s ease;
  background-color: #3596ed;
}

.slider.active {
  opacity: 1;
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding: 1px 5px 5px;
  color: #fff;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
  z-index: 5;
  transform: translateY(-50%);
  box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);
  opacity: 0.6;
}

.prev-btn:hover,
.next-btn:hover {
  opacity: 1;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* секция FAQ */

.faq {
  font-family: "Oswald", sans-serif;
  margin-top: 140px;
}

.faq__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
}

.faq__media {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 28px;
  flex-wrap: wrap;
  position: relative;
}

.faq__media::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 136px;
  left: -156px;
  width: 350px;
  height: 48px;
  background-image: url(../src/icon/faq-decor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.faq__image-wrapper img {
  width: 100%;
}

.accordion {
  width: 100%;
  max-width: 660px;
}

.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
  padding: 20px;
  border: none;
  background-color: var(--bg-svetlyy);
  transition: all 0.5s;
  cursor: pointer;
}

.accordion-item__header::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 21px;
  background-image: url(../src/icon/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.accordion-item__header.active::after {
  transform: rotate(180deg);
}

.accordion-item__body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-nabornyy);
  padding: 0 20px 20px 20px;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
}

.accordion__item {
  border-top: 1px solid #d3cbd9;
  border-bottom: 1px solid #d3cbd9;
  margin-bottom: 20px;
}
/* popup */

.popup {
  display: none; /* По умолчанию скрыт */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.popup.show {
  display: flex;
  animation: fadeIn 0.3s ease forwards;
}

.popup__btn {
  border: none;
  font-size: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 30px;
}

.popup__content {
  animation: slideIn 0.4s ease-out forwards;
  position: relative;
  background: white;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  font-family: "Oswald", "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Секция footer */

.footer {
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  margin-top: 146px;
}

.policy__title {
  margin: 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px 0;
  font-family: "Ubuntu", sans-serif;
}

.footer__nav-list {
  display: flex;
  gap: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer__nav-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-nabornyy);
}

.footer__policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--text-podpis);
}

.footer__policy::before {
  content: "";
  display: inline-block;
  width: 99dvw;
  height: 1px;
  border-top: 1px solid #d3cbd9;
  margin-bottom: 40px;
}

.policy__inner {
  display: flex;
  gap: 4px;
}

/*  секция contact */

.contact-container {
  margin-top: 120px;
}

.contact__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
  margin-bottom: 40px;
}

.contact-map {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
  overflow: hidden;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.feedback__form {
  font-family: "Oswald", "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 50px;
  border-radius: 15px;
  max-width: 400px;
  height: 400px;
}

.feedback__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--text-zagolovochnyy);
}

.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--text-nabornyy);
}

.form__input:focus {
  outline: none;
}

.form__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  color: var(--text-zagolovochnyy);
}

.form__input:focus ~ label,
.form__input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: var(--text-podpis);
}

.form__button {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  text-transform: uppercase;
  color: fff;
}

/* Extra extra large devices (очень большие экраны) */

@media (max-width: 1230px) {
  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--stroke);
    width: 60%;
    height: 100dvh;
    transform: translateX(100%);
    transition: all 0.6s ease;
    z-index: 10;
  }

  .header__nav.show {
    transform: translateX(0px);
  }

  .header__nav-burger {
    display: block;
    background-color: transparent;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 130px;
    gap: 40px;
  }

  .header__inner {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero__container {
    flex-direction: column;
    align-content: center;
    gap: 140px;
  }

  .hero__content {
    max-width: 700px;
    align-items: center;
  }

  .hero__title,
  .hero__subtitle,
  .faq__title,
  .faq__title,
  .gallery__title,
  .programs__title,
  .coach__title,
  .contact__title {
    text-align: center;
  }

  .hero__button {
    margin-top: 60px;
  }

  .faq__media {
    justify-content: center;
    align-items: center;
  }

  .faq__media::before {
    left: 0px;
  }

  .contact__inner {
    justify-content: center;
  }

  .coach__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
  }
}

/* Large devices (ноутбуки, маленькие десктопы) */

@media (max-width: 992px) {
  .slider-container {
    min-width: 600px;
  }
}

@media (max-width: 768px) {
  .coach,
  .programs__container,
  .faq,
  .contact-container {
    margin-top: 60px;
  }

  .contact__inner {
    justify-content: center;
  }

  .footer__nav-list {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero__media {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero__media-button {
    position: static;
    width: 270px;
    height: 30px;
  }

  .hero__container {
    gap: 60px;
  }
}

@media (max-width: 640px) {
  .slider-container {
    min-width: 400px;
    height: 300px;
  }
}

/* Small devices (телефоны с горизонтальной ориентацией, маленькие планшеты) */
@media (max-width: 576px) {
  .coach__list {
    justify-content: center;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__title,
  .hero__subtitle,
  .faq__title,
  .faq__title,
  .gallery__title,
  .programs__title,
  .coach__title,
  .contact__title {
    font-size: 40px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    margin-left: 10px;
    margin-right: 10px;
  }

  .accordion-item__header {
    font-size: 16px;
  }
}
